@using Cookery.Models.Enums




<!-- SEPERATOR IMAGE -->
<div class="seperator seperator-image" style="background-image: url(/images/seperator-bottom.png)"></div>
<!-- SEPERATOR IMAGE -->
<!-- ABOUT PRODUCTS -->
<section id="section2" class="p-t-150 p-b-150">
    <div class="container">
        <div class="row">

            <div class="row">
                <div class="col-lg-6 m-b-30">
                    <div data-animation="fadeIn">
                        <img src="/recipes/spanish_sangria.png" alt="" class="img-fluid">
                    </div>
                </div>
                <div class="col-lg-6 text-center" data-animation="fadeIn">
                    <div class="m-b-40">
                        <span class="lead">The Secret</span>
                        <h2 class="text-medium font-pacifico text-colored">Cooked with Love</h2>
                        <span class="lead">
                            A place where you can find and share interesting, delicious and healthy recipes with all willing to take part in cookery!
                        </span>
                    </div>
                    <a asp-controller="Recipe" asp-action="AllRecipes" class="btn btn-outline btn-dark"><span>Explore</span></a>
                </div>
            </div>

            <hr class="space">

            <div class="row">
                    @{
                        var list = Enum.GetValues(typeof(CookeryCategory)).Cast<CookeryCategory>().ToList();
                        for (int i = 0; i < list.Count; i++)
                        {
                            var imageUrl = string.Concat("/images/index/", i, ".png");

                                <div class="col-lg-3 text-center" data-animation="fadeIn" data-animation-delay="0">
                                <img srcset="@imageUrl" @*src="/images/index/0.png"*@ alt="" class="m-b-20">
                                <h3><a asp-controller="Recipe" asp-action="GetRecipesByCategory" asp-route-category="@list[i]" target="_blank">@list[i]</a></h3>
                                @*<p>Sed commodo suscipit neque et suscipit. Cras feugiat porttitor libero sed finibus. Morbi elit nulla, rutrum eu nulla eu, lacinia tincidunt ligula. </p>*@
                            </div>

                        }
                    }

            </div>

        </div>
    </div>
</section>
<!-- end: ABOUT PRODUCTS -->



